.tab_panel[aria-hidden="true"] {
  display: none;
}

.tab_button {
  position: relative;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.tab_button:focus-visible {
  outline: 2px solid var(--Main-Color-Primary);
  outline-offset: 2px;
}

.tab_button[aria-selected="true"] {
  font-weight: bold;
  border-bottom: 2px solid var(--Main-Color-Primary);
}

.tab_button[aria-selected="true"]::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--Main-Color-Primary);
}
