.btn {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto;
  border: 0;
  outline: 2px solid transparent;
  outline-offset: -1px;
  font-weight: 600;
  line-height: 1.5;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.btn_primary {
  background-color: var(--Main-Color-Dark);
  color: #fff;
  &:focus-within {
    outline: 2px solid var(--Main-Color-Base);
    color: var(--Main-Color-Dark);
    background-color: var(--Main-Color-Light);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 2px solid var(--Main-Color-Base);
      color: var(--Main-Color-Dark);
      background-color: var(--Main-Color-Light);
    }
  }
}
.btn_secondary {
  background-color: var(--Secondary-Color-Base);
  color: var(--Base-Black);
  &:focus-within {
    outline: 2px solid var(--Secondary-Color-Base);
    color: var(--Base-Black);
    background-color: #fffdf5;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 2px solid var(--Secondary-Color-Base);
      color: var(--Base-Black);
      background-color: #fffdf5;
    }
  }
}
.btn_small {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 2rem;
}
.btn_medium {
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  border-radius: 4rem;
}
.btn_large {
  padding: 2.4rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 6rem;
}

.btn:focus-visible {
  outline: 2px solid var(--Main-Color-Base);
  outline-offset: 2px;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  &:focus-within {
    outline: 2px solid transparent;
    color: #fff;
    background-color: var(--Main-Color-Dark);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
    outline: 2px solid transparent;
    color: #fff;
    background-color: var(--Main-Color-Dark);
    }
  }
}
.btn_secondary:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  &:focus-within {
    outline: 2px solid var(--Secondary-Color-Base);
    color: var(--Base-Black);
    background-color: var(--Secondary-Color-Base);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
    outline: 2px solid var(--Secondary-Color-Base);
    color: var(--Base-Black);
    background-color: var(--Secondary-Color-Base);
    }
  }
}