.btn {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto;
  border: 0;
  outline: 0.1rem solid transparent;
  outline-offset: -0.1rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.btn_primary {
  background-color: var(--Main-Color-Dark);
  color: var(--Base-White);
  &:focus-within {
    outline: 0.1rem solid var(--Main-Color-Base);
    color: var(--Main-Color-Dark);
    background-color: var(--Main-Color-Light);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 0.1rem solid var(--Main-Color-Base);
      color: var(--Main-Color-Dark);
      background-color: var(--Main-Color-Light);
    }
  }
}
.btn_secondary {
  background-color: var(--Secondary-Color-Base);
  color: var(--Base-Black);
  &:focus-within {
    outline: 0.1rem solid var(--Secondary-Color-Base);
    color: var(--Base-Black);
    background-color: var(--Base-Lightest);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 0.1rem solid var(--Secondary-Color-Base);
      color: var(--Base-Black);
      background-color: var(--Base-Lightest);
    }
  }
}

.btn_cancel {
  background-color: var(--Base-LightGray);
  color: var(--Base-Black);
  &:focus-within {
    outline: 0.1rem solid var(--Base-LightGray);
    color: var(--Base-Black);
    background-color: var(--Base-Lightest);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 0.1rem solid var(--Base-LightGray);
      color: var(--Base-Black);
      background-color: var(--Base-Lightest);
    }
  }
}

.btn_small {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.btn_medium {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}
.btn_large {
  padding: 1.6rem 2.4rem;
  font-size: 1.8rem;
  border-radius: 1rem;
}

.btn:focus-visible {
  outline: 0.1rem solid var(--Main-Color-Base);
  outline-offset: 0.1rem;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  &:focus-within {
    outline: 0.1rem solid transparent;
    color: var(--Base-White);
    background-color: var(--Main-Color-Dark);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
    outline: 0.1rem solid transparent;
    color: var(--Base-White);
    background-color: var(--Main-Color-Dark);
    }
  }
}
.btn_secondary:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  &:focus-within {
    outline: 0.1rem solid var(--Secondary-Color-Base);
    color: var(--Base-Black);
    background-color: var(--Secondary-Color-Base);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
    outline: 0.1rem solid var(--Secondary-Color-Base);
    color: var(--Base-Black);
    background-color: var(--Secondary-Color-Base);
    }
  }
}