.btn_area {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  opacity: 1;
  pointer-events: auto;
}
.modal[aria-hidden="true"] {
  display: none;
  opacity: 0;
  pointer-events: none;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.close_btn {
  background: none;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  color: var(--Base-White);
  position: absolute;
  right: 0;
  top: -4.2rem;
}
.modal_inner {
  position: relative;
  background: var(--Base-Lightest);
  padding: 1.6rem;
  border-radius: 0.4rem;
  width: 90%;
  max-width: 580px;
  z-index: 1;
  display: flex;
  flex-flow: column;
}
.modal_inner h2 {
  text-align: left;
  margin: auto;
  width: 100%;
  color: var(--Main-Color-Base);
  font-size: 2rem;
  border-bottom: 0.1rem solid var(--Base-Light);
  padding: 0 0 0.8rem;
}
.body {
  font-size: 1.6rem;
  min-height: 120px;
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  align-items: center;
}
