.tab {
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
}
.tab_btns {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  border-bottom: 1px solid var(--Main-Color-Dark);
}
.tab_btn {
  font-size: 1.6rem;
  padding: 1rem;
  background: #fff;
  flex-grow: 1;
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: solid 1px var(--Base-LightGray);
  border-bottom: none;
  border-left: solid 1px var(--Base-LightGray);
  border-right: solid 1px var(--Base-LightGray);
  transition: all 0.3s ease-out;
  cursor: pointer;
  &:focus-within {
    color: var(--Main-Color-Dark);
    background-color: var(--Main-Color-Light);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--Main-Color-Dark);
      background-color: var(--Main-Color-Light);
    }
  }
}
.tab_btn[aria-selected='true'] {
  color: #fff;
  background: var(--Main-Color-Dark);
}
.tab_panel[aria-hidden='true'] {
  display: none;
}
.tab_panel {
  padding: 2rem;
  font-size: 1.6rem;
}
