.tab {
  font-size: 1.6rem;
}
.tab_btns {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  border-bottom: 2px solid var(--Additional-Color-blue);
}
.tab_btn {
  padding: 1rem;
  background: #fff;
  color: var(--Additional-Color-blue);
  flex-grow: 1;
  font-weight: bold;
  border-radius: 0.75rem 0.75rem 0 0;
  border-top: solid 2px var(--Additional-Color-blue);
  border-bottom: none;
  border-left: solid 2px var(--Additional-Color-blue);
  border-right: solid 2px var(--Additional-Color-blue);
  transition: all 0.3s ease-out;
  &:focus-within {
    color: var(--Additional-Color-blue);
    background-color: var(--Main-Color-LightBlue);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--Additional-Color-blue);
      background-color: var(--Main-Color-LightBlue);
    }
  }
}

.tab_btn[aria-selected='true'] {
  color: #fff;
  background: var(--Additional-Color-blue);
}
.tab_panel[aria-hidden='true'] {
  display: none;
}
.tab_panel {
  padding: 2rem;
}
