.accordion {
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
}
.accordion_item {
  border: 1px solid var(--Base-LightGray);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}
.accordion_header {
  font-size: 1.6rem;
  padding: 2rem;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease-out;
}
.accordion_header::-webkit-details-marker {
  display: none;
}
.accordion_header::after {
  content: '';
  width: 1.6rem;
  height: 1.6rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E")
  no-repeat center center;
  background-size: contain;
  transition: transform 0.3s ease-out;
}
.accordion_item[open] .accordion_header::after {
  transform: rotate(180deg);
}
.accordion_item[open] .accordion_header {
  background: var(--Main-Color-Dark);
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .accordion_header:hover {
  color: var(--Main-Color-Dark);
  background-color: var(--Main-Color-Light);
  }
}
.accordion_content {
  background-color: #fff;
  border-top: 1px dotted var(--Base-LightGray);
  overflow: clip;
  transition: height 0.3s ease;
  will-change: height;
}
.accordion_inner {
  padding: 2rem;
  font-size: 1.6rem;
}
