/* rootの/css/style.cssで色設定などを行っています。 */
.accordion {
  width: 100%;
  min-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--Base-LightGray);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}
.accordion_header {
  font-size: 1.6rem;
  padding: 2rem;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease-out;
}
.accordion_header::-webkit-details-marker {
  display: none;
}
.accordion_header::after {
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: solid 2px var(--Base-Black);
  border-right: solid 2px var(--Base-Black);
  transform: rotate(-45deg);
  inset: 0 0 0 auto;
  transition: transform 0.3s ease-out;
}
.accordion[open] .accordion_header::after {
  transform: rotate(135deg);
  border-top: solid 2px var(--Base-Lightest);
  border-right: solid 2px var(--Base-Lightest);
}
.accordion[open] .accordion_header {
  background: var(--Main-Color-Dark);
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .accordion_header:hover {
  color: var(--Main-Color-Dark);
  background-color: var(--Main-Color-Light);
  }
}
.accordion_content {
  background-color: #fff;
  border-top: 1px dotted var(--Base-LightGray);
  overflow: clip;
  transition: height 0.3s ease;
  will-change: height;
}
.accordion_inner {
  padding: 2rem;
  font-size: 1.6rem;
}
