@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1;
  overflow-y: scroll;
  font-family: var(--NotoSans);
}
:root {
  --Error-Color: #de0930;
  --Secondary-Color-Base: #ffda55;
  --Main-Color-Light: #f0f8ff;
  --Main-Color-Base: #008ac1;
  --Main-Color-Dark: #0065c3;
  --Base-White: #ffffff;
  --Base-Lightest: #f7f7f7;
  --Base-LightGray: #c0c0c0;
  --Base-Light: #d9d9d9;
  --Base-Gray: #707070;
  --Base-Black: #333333;
  --NotoSans: 'Noto Sans JP', sans-serif;
  --Monospace: 'Source Code Pro', monospace;
}
