.radio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.radio_option {
  display: flex;
  align-items: center;
}

.radio_option input[type="radio"] {
  margin-right: 0.5rem;
}

.radio .required {
  color: #dc2626;
  background-color: #ffffff;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  margin-right: 0.25rem;
  display: inline-block;
}

.radio_error {
  color: #dc2626;
  font-size: 0.875rem;
  margin-top: 0.25rem;
} 