.textfield {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.textfield label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.textfield input {
  padding: 8px;
  border: 1px solid var(--Monotone-Line);
  border-radius: 4px;
  font-size: 1.6rem;
}

.textfield input:focus {
  outline: 2px solid var(--Main-Color-Primary);
}

.textfield_error {
  color: var(--Additional-Color-red);
  font-size: 1.2rem;
}


